<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SQLite" connectionString="Data Source=Catharsis.Domain.NHibernate.db;Version=3;New=True;" />
    <add name="SQLServer" connectionString="Server=localhost;Database=Catharsis.Domain.NHibernate;Trusted_Connection=True;" />
  </connectionStrings>
</configuration>